body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(147, 174, 200);
    /* position: sticky; */
}

ul{
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    margin: 0;
}



.carousal{
    /* display: inline-flex; */
    /* height: 650px;
    background-color: aqua;
    background-image: url(img/carousel1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; */
}