body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(67, 167, 255);
    position: sticky;
    display: inline-flex;
}

ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.list{
    display: inline-flex;
}

.carousal{
    display: inline-flex;
    height: 650px;
    background-color: aqua;
    background-image: url(img/carousel1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}