body{
    padding: 0;
    margin: 0;
}


a{
    text-decoration: none !important;
}

ul{
    list-style: none;
}

.header1{
    background-color: rgb(235, 235, 235) !important;
}

.row{
    --bs-gutter-x:0 !important;
    overflow: hidden;
}

.h1-icon{
    
}


.logo{
    margin: auto 0;
}

.bt1{
    font-size: 14px !important;
}

.bt1:hover{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(255, 213, 0) !important;
    border: solid 1px black;
}

.bt2{
    /* height: 50px; */
    margin: auto 0;
}

.nav{
    border-bottom: solid 3px  rgb(255, 213, 0,);
}

.nav:hover{
    border-bottom: solid 3px rgb(255, 213, 0);
}

.carousal{
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url(img/night-dark.jpg);
    background-position: center;
    background-size: cover;
}

.center-content{
    position: absolute !important;
    margin: auto 0 !important;
    top: 50% !important;
    left: 30% !important;
    transform: translate(-20%,-50%) !important;
    overflow: hidden;
}



.tile-2{
    height: 600px !important;
}

.tile-2l{
    height: 600px;
    width: 100%;
    background-color: yellow;
    background-image:linear-gradient(red,yellow) ;
    background-image: url(img/night.jpg);
    background-position: center;
    background-size: cover;
}


.tile-2r ul{
    font-size: 15px;
}

.tile-3{
    height: 600px !important;
    overflow: hidden;
}

.tile-3l{
    background-color: rgb(235, 235, 235) !important;
    
}
.tile-3 .container-md{
    padding-left: 125px !important;
}

progress{
    border-radius: 50px;
    width: 100%;
    /* border: solid 1px rgb(190, 140, 32); */
    height: 8px;
}

progress::-webkit-progress-bar{
    color: rgb(46, 15, 15);
    background: rgb(207, 207, 207);
    border-radius: 50px;
}
progress::-webkit-progress-value{
    background: rgb(255, 213, 0);
    border-radius: 50px;
    /* border: solid 1px greenyellow; */
}





.spanr{
    float: right;
}
.spanl{
    float: left;
}


.carousal2{
    position: relative;
    height: 600px;
    width: 100%;
    background-image: url(img/night-dark.jpg);
    background-position: center;
    background-size: cover;
}


.carousal2 span{
    color: rgb(255, 213, 0);
}

.carousal2 h1{
    font-size:70px !important;
}
.carousal h1{
    font-size:70px !important;
}
.carousal-p{
    padding: 20px 200px !important;
}


.tile-5 p{
    font-style: italic;
    font-size: 13px;
    color: rgb(167, 167, 167);
}

.tile-5 h3{
    text-transform: uppercase;
    font-size: 23px;
}

.tile-5 a{
    color: black;
}



.worker{
    /* object-position: center;
    object-fit:cover; */
    height: 250px;
    overflow: hidden;
}

.cards img{    
    transition:transform 500ms ease;
}

.cards:hover img{
    transform: scale(1.1);
}

.footer{
    /* height: 250px; */
    /* overflow: hidden; */
    background-color: rgb(36, 36, 36);
}

.ftr-brdr{
    border-right:solid 0.125rem rgb(75, 75, 75) !important;
}

.ftr h5{
    color: rgb(255, 213, 0);
    text-transform: uppercase;
    padding-bottom: 10px;
}

.ftr ul{
    line-height: 1;
    padding: 0;
    margin: 0;
}
.ftr li:hover{
    color: white;
}

.ftr a{
    font-style: none;
    color: rgb(195, 195, 195)
}




