body{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

.header1{
    background-color: rgb(235, 235, 235) !important;
}

.h1-icon{
    
}


.logo{
    margin: auto 0;
}

.bt1{
    font-size: 14px !important;
}

.bt1:hover{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(255, 213, 0) !important;
    border: solid 1px black;
}

.bt2{
    /* height: 50px; */
    margin: auto 0;
}