body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif ;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Poppins", sans-serif;
    color: #111 !important;
    font-weight: 600 !important;
    line-height: 1.4 !important;
    letter-spacing: -.5px !important; 
}
html{
    color-scheme: light dark;
}

.header{
    
}


.wrap-b{
    padding-bottom: 100px !important;
}
.wrap-h{
    padding:0 100px !important;
}

.wrap-y{
    padding: 100px 0;
}

.wrap{
    padding:100px  !important;
}
.wrap-t{
    padding-top:  100px !important;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.myli a:hover{
    /* color: red !important; */
    background-color: #c1c7ff;
    border-radius: 0.5rem;
}

.bt{
    border-radius: 5px;
}

.bt-1{
    border: solid 0.05rem #ff6984 !important;
}

.bt-1:hover,:focus-visible{
    /* background-color: #ff6984 !important; */
    color: #172182 !important;
}

.bt-2{
    background-color: #ff6984;
    color: white;
    list-style-type: ;
}
.bt-2:hover,:focus-visible{
    background-color: #fd4a6a !important;
    /* color: #172182 !important; */
}
.header2{
    background-color: #eee;

}

.header2 h1{
    font-size: 3.3rem !important;
}

.data div{
    width: 100px;
    height: 100px;
    /* padding: 30px !important; */
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: ; */
    border-radius: 50%;
}

.data h1{
    font-size: 2rem !important;
}

.data p{
    font-size: 1.1rem !important;
    color: #7a7a7a;
}
 

.one{
    /* background-image: url(img/web/mail.png); */
    /* width: 50px !important;
    height: 50px !important;
    padding: 10px !important; */
    font-size: 45px;
    /* justify-content: center; */
    padding: 15px;
    /* top: -30px !important; */
    /* display: block; */
    /* padding: ; */
    color:#172182;
}

.one:hover,.two:hover, .three:hover{
    /* background-image: url(img/web/mail\ light.png); */
    background-color: #ffcccc;
}
.two{
    background-image: url(img/web/mobile.png);
}

.three{
    background-image: url(img/web/map.png);
}
/* .myli > a{
    text-decoration: underline !important;
    color: #7a7a7a !important;
} */

/* .data div:nth-child(1){
    background-image: url(img/web/dial.png); 
} */
/* .data div:nth-child(3){
    background-image: url(img/web/facebook.png) !important;
} */


.contact{
    /* height: 700px !important; */
    /* width: 100% !important; */
}

.contact-r{
    height: 600px;
    border: solid 0.1em #ff0000;
    border-radius: 0 1rem 1rem 0;
    overflow: hidden;
    margin-left: -10px;
    z-index: 0 !important;
}




.contact-form{
    height: 600px;
    border: solid 0.1em #ff0000;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    z-index: 4 !important;
    background-color: #eee;
}

.input{
       width: 100%; 
       /* float: ; */
       /* height: 2.2rem; */
       outline: 0;
       border:solid 0.05em #ff6984;
       background-color: #fff0f0;  
}

input:nth-child(1){
    width: 49% !important;
    margin-right:10px;
}

input:nth-child(2){
    width: 48% !important;
    /* margin-right:10px; */
}

.input:hover,:focus-visible{
    background-color: rgb(255, 255, 255);
}


.bt-3{
    background-color: #172182;
}

.bt-3:hover{
    background-color: #0a1254;
}


.footer{
    background-color: #0a1254;
}

.footer p,ul{
    color: #929292;
}

.footer input{
    width: 100%;
    outline: 0;
    border: solid 0.02rem red;
    background-color: #eee;
    height: 40px;
}

.footer input:hover,:focus-visible{
    background-color: #ffffff;
    
}

.footer button{
    font-size: 15px !important;
    font-weight: bold;
}





.bt-5{
    background-color: #ff6984;
    border: none;
}

.bt-5:hover{
    background-color: #ff2c52;
}


.cardss{
    margin-top: -140px;
}

/************************* homepage ***********************************/

.content1{
    background-color: rgb(246, 246, 246) !important;
    padding-bottom: 120px !important;
}

.content1 h1{
    font-size: 60px !important;
    color: #172182;
    text-transform: capitalize;
    font-weight: 700;
}

.card:hover,:focus-visible{
    /* border: solid 1px red !important; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box{
    width: 50px;
    height: 50px;
    position: relative;
}

.box i{
    position: absolute;
    /* margin: 0 auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.b1{
    background-color:#172182;
}

.b2{
    background-color: rgb(255, 184, 52);
}
.b3{
    background-color: #ff6984;
}

.red-txt{
    color: #ff6984 !important;
}

.bt-6{
    background-color: #172182;
}

.about-item{
    display: flex;
    align-items: center;
    border: solid 0.1rem rgb(250, 250, 250);
}

.icon-li{
    border-radius: 0 10px 0 0 !important;
    background-color: rgba(23, 33, 130, 0.2);
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.li-h4{
    font-size: 18px !important;
    font-weight: 400;
    text-transform: capitalize;
}


.content4{
    width: 100%;
    height: 15rem;
    background-color: rebeccapurple;
    align-items: center;
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(https://img.freepik.com/free-vector/worldmap-background-design_1127-2318.jpg?w=996&t=st=1684754501~exp=1684755101~hmac=98bb4c5a735a2830bc23eda1983663c169e451128ab3277e5dd97943bcbc2c65);
    
}

.content4::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(255,255,255, 0.85);
    /* background-image: linear-gradient(rgba(255, 254, 254, 0.686),rgba(252, 252, 252, 0.232)); */
}

.content4 div{
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;    
}

.content6{
    position: relative;
}
.content6::before{
    position: absolute;
    height: 45%;
    width: 100%;
    left: 0;
    bottom: 0;
    content: '';
    background-size: cover;
    background-color: rgb(246, 246, 246);
}

.blue-lrg-txt{
    font-size: 60px !important;
    color: #172182 !important;
    font-weight: bold !important;
}

.stats-card p{
    text-transform: capitalize;
}

.price-card{
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    z-index: 2 !important;
    position: relative;
    /* background-color: royalblue !important; */
}

.price-card img{
    /* width: fit-content;
    height: fit-content; */
    max-width: 100% !important;
    max-height: 100% !important;
    display: block;
    margin: 20px 0;
    
}

.price-card-sub ul{
    text-transform: capitalize;
    line-height: 2;
    font-size: 17px !important;
}

.price-card-sub{
    background-color: ;
    /* background-color: hsl(0, 0%, 100%); */
    z-index: 2;
    position: relative;
}


.working i{
    font-size: 40px !important;
    /* position: relative; */
}

.working i{
    /* position:absolute; */
    color: #0a1254;
    padding: 10px 0;
    /* align-items: center; */
    text-align: center;
    /* justify-content: center; */
    /* vertical-align: middle !important; */
    width: 110px;
    height: 110px;
    display:inline-block;
    background-color: #eee;
    border-radius: 50%;
    border: solid 10px white;
    box-shadow: 0px 0px 1px 0px rgb(35, 35, 35);
    margin-bottom: 15px;


}

.cover-pic-client-review{
    width: 100%;
    height: 450px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url(https://themeturn.com/tf-db/digicon/digicon/assets/images/bg/6.jpg);
}

.testimonials{
    position: absolute;
    right: -75px;
    bottom: -65px;
    content: '';
    display: block;
    width: 100%;
    /* touch-action: pan-y; */
}

.content8::before{
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(0, 10, 146, 0.814);
    content:'';    
}

.content8{
    width: 100%;
    height: 25rem;
    background-color: rebeccapurple;
    align-items: center;
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(https://plus.unsplash.com/premium_photo-1661691858418-3bb359c87004?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80);
}

.c7-txt{
    /* position: absolute !important; */
    z-index: 2 !important;
}

.row{
    --bs-gutter-x: 0 !important;
}

.cards-data{
    text-transform: capitalize !important;
}

.blue-d{
    color: #0a1254;
}
.blue-l{
    color: #172182;
}
.imge{
    
}

.profile{
    display:inline-block;
    /* align-content: center; */
    /* position: relative; */
    position: relative;
    width:  13rem;
    height: 13rem;
    border: solid 0.7rem white;
    background-color: #172182;
    border-radius: 50%;
    /* background-image: url(img/team-1.jpg); */
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    /* transition: all .45s ease-out; */
}

.profile-cards:hover,:focus-visible{
    background-color: #172182 !important;
    color: white !important;
    transition: all .50s ease;
}

.profile-cards:hover p.text-dark-emphasis,
.profile-cards:hover ul li a i{
    color: #eee !important;
}


.p-one{
    background-image: url(img/team-1.jpg) !important;
}
.p-two{
    background-image: url(img/team-2.jpg) !important;
}
.p-three{
    background-image: url(img/team-3.jpg) !important;
}
.p-four{
    background-image: url(img/team-4.jpg) !important;
}

.services h5{
    text-transform: capitalize;
}

.service-card{
    position: relative;
    overflow: hidden;
    background-color: #eee !important;
}
.service-img img{
    display: inline-block;
    width: 70px;
    /* border-radius: 50% !important; */
    height: 70px;
}

.service-card-count{
    font-size: 10rem !important;
    position: absolute;
    font-weight: 700 !important;
    bottom: -5.4rem;
    right:-5px;
    opacity: 0.05;
    inset: 1;
}


.testimonials a{
    color: #fd4a6a !important;
}
.review-user{
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
}
.review-user-pic{
    width: 80px;
    height: 80px;
    background-image:url(img/about.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 250px 300px 500px 120px ;
}

.testimonials-no{
    float: right;

   
}

.testimonials-no h1{
    /* flex-direction: ; */
    /* display:; */
    /* text-align: end; */
    font-size: 100px;
    color: #9fa3c64f !important;
    font-weight: 500 !important;
}


.img-fluid{
    max-width: 100%;
    height: auto;
}