*{
    box-sizing: border-box;
}


.body{
    margin: 0;
   
}




:root{
  --red:#f67280, #6c5b7b, #ece5ce;
}
.grid-cards{
  background-image: linear-gradient(rgb(175, 70, 255),rgb(35, 127, 240),rgb(26, 26, 26)) !important;
}

ul{
    list-style: none !important;
    /* padding: 0 !important;
    margin: 0 !important; */
}
a{
  text-decoration: none !important;
}

.nav2{
 background-image: linear-gradient(90deg,rgb(217, 228, 232),rgb(197, 255, 253));
 box-shadow:0 0px 3px 0  rgb(0, 36, 128);
}


.navbar-brand  div{
 
}
.navbar-brand div span{
 border: solid 1px;
 padding: 1px;
}

.bt-li{

}
.header1{
    width: 100dvw;
}

.header2{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
}

.cards2{
  background-image: linear-gradient(180deg,rgb(23, 23, 23),rgb(47, 47, 47));
}

.title1{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    background: linear-gradient(45deg,rgb(191, 0, 0),rgb(189, 0, 167),rgb(255, 218, 36),rgb(6, 218, 10));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-size: 150%;
    

    /* background: linear-gradient(-45deg,#ffc131,#756501,#c88c00,#505050);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 120%; */
}
.wrap{
    width: min(100%, 1100px) !important;
}
.cards-grid{
    /* width: min(100%, 70em); */
    display: grid;
    margin-inline: auto;
    gap: 1.2rem;
    padding-block: 2rem;
    grid-template-columns: repeat(1,1fr);
}
@media (min-width: 50em){
    .grid-col-span2{
       grid-column: span 1;
    }

    .cards-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.cards-grid img{
    border-radius: 50%;
    height: 70px !important;
    width:  70px;
    border: solid 0.2rem rgb(170, 169, 255);
    object-fit: cover;
}

.cards{
    box-shadow:1.5rem 2.75rem 3rem  rgba(0, 0, 0, 0.321);
}

.grid-col-span2{
    grid-column:span 2;
}



/* .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 2px;
    text-decoration: none;
    display: block;
  } */
  
  /* .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display:block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;} */

  .dropdown{
    position: relative;
    display: inline-block;
  }

  .drop-button{
    padding: 2px;
    color: aliceblue;
    background-color: blue;
  }

  .drop-li{
    display: none;
    position:absolute;
    z-index: 1 !important;
    width: 50px;
  }

  .drop-li a{
    text-decoration: none;
    padding: 10px;
    background-color: aliceblue;
    color: tomato;
    display: block;
  }

  .dropdown:hover .drop-li{
    display: block;
  }

  .drop-button:hover{
    background-color: rgb(0, 54, 54);
  }

  .drop-li a:hover {
    background-color: bisque;
  }
:root{
  --bordr-clr:red;
}

  .dark-cards{
    background-color: rgb(34, 34, 39) !important;
    border: solid 0.5rem rgb(255, 120, 42) !important;
    border-color: var(--bordr-clr) !important;
    overflow: hidden;
    width: 100%;
  }

  .dark-cards div{
    height: 200px !important;
    overflow: hidden;
    width: 100%;
  }
  /* .navbar
  .carouselExample{
    display: block !important;
    height: 250px !important;
    width: 100% !important;
  } */


  .carousel-item{
     height: 400px;
     width: 100vw;
     
  }

  .carousel-item img{
    height: inherit;
    width: 100%;
    object-fit: cover !important;
    /* object-position: top; */
  }

  .hello{
    padding: 2px;
    /* background-image: linear-gradient(var(--red)); */
    /* border-image: linear-gradient(var(--red)); */
    border: solid 1px;
  }

.navbar-column{
  display: flex;
  justify-content: space-between;
}

  .navbar-items {
    width: 100%;
    display: flex;
    justify-content: center;
    
    /* justify-content: space-between; */
  }

  .bt-nav-back{
    border-radius: 50% !important;
    display:flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    width: 40px;
    aspect-ratio: 1/1;
    /* display: block !important; */
    background-color: rgb(0, 0, 0) !important;
  }

  .bt-nav-back:hover,.bt-nav-back:focus-visible{
    color: rgb(0, 0, 0) !important;
    background-color: #ffffff !important;
    cursor: pointer; 
  }

  .nav-item a{
    border-bottom: rgba(255, 0, 0, 0) solid 2px;
  }
  .nav-item a:hover{
    border-bottom: red solid 2px !important;
  }

  .bt-nav-back div{
      display: flex;
      align-items: center ;
      text-align: center ;
  }


  