.body{
    padding: 0;
    margin: 0;
   background-color: red !important;
    /* background-image: linear-gradient(228deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%) !important; */
}




.wrap{
    max-width: 1200px !important;
}

.logo{
    display: inline-block;
}


.navbar1{
    /* background-color: rgb(0, 0, 0); */
   /* background-image:  linear-gradient(228deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%) */
}

nav ul{
    text-align: center;
    /* margin-right: 200px ; */
    margin-top:20px;
}
    
.navbar1{
  position: sticky;
  top:0;
}    


a{
    text-decoration: none !important;
    color: black !important;
}

.nav-items{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* gap: 5; */
}


.nav-ul li a{
    padding: 5px;
    background-color: red;
    
}
nav ul li{
    display: inline-block;  
    margin: 0 10px;
}
#check{
    /* float: right; */
    display: none;
}

.navbtn{
    float: right;
    font-size: 30px;
    display:none;
    cursor: pointer;
}

@media(max-width:750px){

    .wrap{
        /* width: 100% ; */
        /* padding:0 25px !important; */
    }

    .nav-items{
        justify-content: flex-end ;
        
    }

    .navbtn{
        display: block;
        float: right;
    }
    .nav-ul li{
        display: block  ;
        background-color: rgb(224, 224, 224) !important;
        border-bottom: solid 0.1px rgb(49, 49, 49) !important;
        
        margin:0;
        padding: 10px 0;
    } 


    .nav-ul li :last-child {
        /* border-bottom: solid 0.1px rgb(234, 0, 0) !important; */
    }

    .nav-ul li:hover,
    .nav-ul li:hover a{
        background-color: rgb(116, 116, 116) !important;
        color: white !important;
        cursor: pointer;
    }

    .nav-ul {
        border: solid 5px rgb(171, 171, 171);
        border-radius:20px   ;
        /* margin-top:-25px !important; */
        overflow: hidden;
        
    }



    .nav-ul li a{
        background-color: rgba(255, 255, 255, 0) !important;
        padding: 0;
        color: rgb(70, 70, 70) !important;
        
    }



    .nav-ul{
        position: fixed;
        width: 100%;
        /* height: 100vh; */
        top: 75px;
        left:-100%;
        transition:all 0.5s ease-in;
        text-align: center;
        z-index: 100;
    }

    #check:checked ~ ul{
        left: 0;
    }
}


.main-content img{
    object-fit: cover;
    object-position: center;
    
   
}

.main-content{
    position: relative;
}

.custom-nav{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    /* z-index: 10; */
}
 .owl-prev{
    z-index: 100;
    position: absolute;
    left: 0;
    top: 50%;
}
 .owl-next{
    z-index: 100;
    position: absolute;
    right: 0;
    top: 50%;
}

/* .owl-carousel-vertical{
    transform: rotate3d(0, 0, 1, 90deg);
  }
  .owl-carousel-vertical .item{
    transform: rotate3d(0, 0, 1, -90deg);
  } */



  .main-content {
    position: relative;
  }
  .main-content .owl-theme .custom-nav {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }
  .main-content .owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 10;
  }
  .main-content .owl-theme .custom-nav .owl-prev i, .main-content .owl-theme .custom-nav .owl-next i {
    font-size: 2.5rem;
    color: #cecece;
  }
  
  
          .main-content .owl-theme .custom-nav .owl-prev {
    left: 0;
  }
  .main-content .owl-theme .custom-nav .owl-next {
    right: 0;
  }

  i{
    font-size: 50px !important;
  }


/* **************************************************************.parallax-item**************************************************** */

  
html {
    scroll-behavior: smooth;
  }
  
  .parallax-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
  }
  
  .parallax-item h2 {
    font-size: 3rem;
    text-transform: uppercase;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .parallax-item:first-child {
    background: url("https://images.unsplash.com/photo-1663305411753-4c305e177ff3?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjM5NDA4ODE&ixlib=rb-1.2.1&q=80");
    background-size: cover;
  }
  
  .parallax-item:nth-child(2) {
    background: #fdd835;
  }
  
  .parallax-item:nth-child(3) {
    background: url("https://images.unsplash.com/photo-1663183539627-adbe2c8ef43d?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjM5Mzk5ODc&ixlib=rb-1.2.1&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax Effect for DIV 3 */
    min-height: 600px;
  }
  
  .parallax-item:nth-child(4) {
    background: #1565c0;
  }
  
  @media screen and (max-width: 768px) {
    .parallax-item h2 {
      font-size: 1.5rem;
    }
  }

  
  .owl-carousel-vertical{
    transform: rotate3d(0,0,1,90deg) !important;
  }

  .owl-carousel-vertical img{
    transform: rotate3d(0,0,1,-90deg) !important;
    object-fit: cover;
  }